.nav-link{
    margin-right: 40px;
}
#supportHero{
    background-color: rgb(56, 126, 209);
    color: white;
}
#supportHero a{
    color: white;
}
#supportwrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
}

#supportHero input[type="text"]{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
#supportHero a{
    margin-right: 10px;
}